.btnNav{
display: block;
margin-left: 10px!important;
text-transform: uppercase;
color: '#000';
border-radius: 5px!important;
border: 1px solid rgba(0, 0, 0, 0.23)!important;
padding: 6.4px 16px!important;

}

.btnNav:first-child::after{
    content: 'Prew';
    font-size: 16px;
    color: #000;
}
.btnNav:nth-child(2n)::before{
    content: 'Next';
    font-size: 16px;
    color: #000;
}
